<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% with messages = get_flashed_messages() %}
    	{% if messages %}
    		<ul class=flashes>
    			{% for message in messages %}
    			<li>{{ message }}</li>
    			{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}
    
    {% block head %}{% endblock %}
</head>

<body>
	<div class="right-header-links"> 
		<a href="/login">register/login</a>
	</div>

    {% block content %} put you content here {% endblock %}
    {% block page_js %}{% endblock %}


</body>

</html>
