{% extends 'base.html' %}
{% block title %}Favorites{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/favorites.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="status-bar col-xs-6 col-md-6 col-lg-4" id="user-info"> 
      <h2>{{ current_user.name }}'s community</h2>
  	  <strong>Email:</strong> {{ current_user.email }}<br>
  	  <strong>Saved Address:</strong> 
      {% if current_user.addy_id %}
        {{ current_user.address.formatted_addy }}
      {% endif %}
    </div>
    <div class="status-bar col-xs-6 col-md-6 col-lg-4"> 
      <img id="user-img" src="static/images/profile_pic.png">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="status-bar col-xs-6 col-md-6 col-lg-4" id="saved-events"> 
      <button class="date-sort btn btn-default" name="date-sort">Sort events by date</button>
      <h2>Upcoming events</h2>
      <ul>
      {% if saved_events is not defined %}
        {{ error }}
      {% else %}
        {% for event in saved_events %}
          <div class="evt-lists" id="evt-{{ event.evt_id }}">
            <strong><a href="{{ event.url }}" target="_blank">{{ event.name }}</a></strong><br>
            Time: {{ event.datetime }}<br>
            <button class="remove btn btn-default" name="remove-button" data-evt_id="{{ event.evt_id }}">Remove</button><br><br>
          </div>
        {% endfor %}
      {% endif %}
    	</ul>
    </div>
  </div>
  <div class="row">
    <div class="status-bar col-xs-6 col-md-6 col-lg-4" id="past-events">
      <h2>Past events</h2>
      <ul>
      {% if past_events is not defined %}
        {{ error }}
      {% else %}
        {% for event in past_events %}
          <div class="evt-lists" id="evt-{{ event.evt_id }}">
            <strong><a href="{{ event.url }}" target="_blank">{{ event.name }}</a></strong><br>
            Time: {{ event.datetime }}<br>
            <button class="remove btn btn-default" name="remove-button" data-evt_id="{{ event.evt_id }}">Remove</button><br><br>
          </div>
        {% endfor %}
      {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
  <script src="http://code.jquery.com/jquery.js"></script>

  <script src="/static/js/faves.js"></script>

{% endblock %}
