{% extends 'base.html' %}
{% block title %}Favorites{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

  <div id="user-info"> 
	  <img src="/static/images/profile_pic.jpg" height=100px>
    <h2>{{ current_user.name }}'s community</h2>

	  Email: {{ current_user.email }}<br>
	  Saved Address: 
    {% if current_user.addy_id %}
      {{ current_user.address.formatted_addy }}
    {% endif %}

  </div>

  <div id="saved-events">
    <ul>
    {% for event in saved_events %}
      <strong><a href="{{ event.url }}" target="_blank">{{ event.name }}</a></strong>
      <li>Time: {{ event.datetime }}</li><br>
    {% endfor %}
  	</ul>
  </div>

 
{% endblock %}
