<!doctype html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BlockParty Landing Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="static/images/logos_markers/blockparty_logo_color.png">
    <style>
/*      body {
        background: url("static/images/unique_img/hike.jpg") no-repeat center top;
      }*/
    
      #landing_img {
        height: 800px;
        opacity: 0.5;
        vertical-align: top;
        align-self: center;
      }
    </style>

</head>

<body>
<!-- Address Input -->
    <div class="container-fluid">
    <div class="row">
        <div class="status-bar col-xs-6 col-md-6 col-lg-4"> 
            <img src="static/images/unique_img/hike.jpg" alt="Adventures Image" id="landing_img">
        </div>
    </div>
    </div>

<!-- App Explanation -->
    <div class="container-fluid">
    <div class="row">
        <div class="status-bar col-xs-6 col-md-6 col-lg-4"> 
            
        </div>
    </div>
    </div>
</body>

</html>
