{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    <form action="handle-login" method="POST" id="login">
      <div class="form">
        <label><h2>login to an existing account</h2></label><br>
        <input type="text" name="email" placeholder="email" required></input><br>
        <input type="password" name="password" placeholder="password" required></input><br>
        <input type="submit" value="login"></input><br>
      </div>
    </form>
 
{% endblock %}