{% extends 'base.html' %}
{% block title %}blockparty homepage{% endblock %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/map.css">

{% endblock %}

{% block content %}

  <h2>Block Party</h2>

  <input id="pac-input" class="controls" type="text" placeholder="Enter address" name="search-location">
  <div id="map"> </div>
  
  <div>
    <h2>List of Events</h2>

    <div id="events_list"></div>
  </div>

{% endblock %}

{% block page_js %}
  <script src="http://code.jquery.com/jquery.js"></script>

  <script src="/static/js/map.js"></script>
  <!-- Initiates the Autocomplete after the API loads, but browser renders rest of page while API loads -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDjuPMg8OtD5gBKHhFfHxmcNtSWocZ8AM&libraries=places&callback=initAutocomplete" async defer>
  </script>

{% endblock %}
