{% extends 'base.html' %}
{% block title %}Registration Page{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    <form action="handle-regis" method="POST" id="register" autocomplete="off">
      <div class="form">
        <label><h2>register for a new account</h2></label><br>
        <p>find events quickly and save them easily</p>
        <input type="text" name="name" placeholder="name" required></input><br>
        <input type="text" name="email" placeholder="email" required></input><br>
        <input type="password" name="password" placeholder="password" required></input><br>
        <input type="submit" value="register"></input>
      </div>
    </form>

 
{% endblock %}