{% extends 'base.html' %}
{% block title %}Registration Page{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="form col-xs-12 col-lg-12">
    <form action="registration" method="POST" id="register" autocomplete="off">
      <div class="form" id="registration">
        <label><h2>Register for a new account</h2></label>
        <p>Join the BlockParty community! Once you have an account, you can favorite events to view later.</p>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <input type="text" name="name" placeholder="name" required></input><br>
        
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <input type="text" name="email" placeholder="email" required></input><br>

        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <input type="password" name="password" placeholder="password" required></input><br><br>
        <button class="btn btn-default btn-body" type="submit" value="register">Create account</button><br><br>
      </div>
    </form>

    <p>Already have an account? <strong><a href="/login">Login</a></strong></p>
</div>
</div>
{% endblock %}